{{ 'footer-galore.css' | asset_url | stylesheet_tag }}

<div class="footer-galore">
  <div class="footer-col">
    <h4 class="footer-subheading">about</h4>
    <a href="/pages/about-us">who we are</a>
    <a href="/pages/how-it-works">how it works</a>
    <a href="/pages/sustainability">sustainability</a>
    <a href="/pages/authentication">authenticity</a>
    <a href="/">careers</a>
    <a href="/">teams</a>
    <a href="/pages/support-center/#contact">contact us</a>
  </div>
  <div class="footer-col">
    <h4 class="footer-subheading">support</h4>
    <a href="/pages/support-center/#faq">faq</a>
    <a href="/pages/support-center/#support">support center</a>
    <a href="/">privacy policy</a>
    <a href="/">terms and conditions</a>
    <a href="/">cookies policy</a>
    <a href="/">shipping & returns</a>
  </div>
  <div class="footer-col">
    <h4 class="footer-subheading">buy</h4>
    <a href="/">new in</a>
    <a href="/">designers</a>
    <a href="/">sale</a>
  </div>
  <div class="footer-col">
    <h4 class="footer-subheading">rent</h4>
    <a href="/pages/rent">renting information</a>
    <a href="/">new in</a>
    <a href="/">designers</a>
  </div>
  <div class="footer-col">
    <h4 class="footer-subheading">sell</h4>
    <a href="/pages/sell-with-us">sell with us</a>
    <a href="/">how to sell</a>
    <a href="/">why sell?</a>
  </div>
</div>