{{ 'footer-galore.css' | asset_url | stylesheet_tag }}

<div class="footer-galore">
  <div class="footer-col">
    <h4 class="footer-subheading">about</h4>
    <a href="/">who we are</a>
    <a href="/">how it works</a>
    <a href="/">sustainability</a>
    <a href="/">authenticity</a>
    <a href="/">careers</a>
    <a href="/">teams</a>
    <a href="/">contact us</a>
  </div>
  <div class="footer-col">
    <h4 class="footer-subheading">support</h4>
    <a href="/">faq</a>
    <a href="/">support center</a>
    <a href="/">privacy policy</a>
    <a href="/">terms and conditions</a>
    <a href="/">cookies policy</a>
    <a href="/">shipping & returns</a>
  </div>
  <div class="footer-col">
    <h4 class="footer-subheading">buy</h4>
    <a href="/">new in</a>
    <a href="/">designers</a>
    <a href="/">sale</a>
  </div>
  <div class="footer-col">
    <h4 class="footer-subheading">rent</h4>
    <a href="/">renting information</a>
    <a href="/">new in</a>
    <a href="/">designers</a>
  </div>
  <div class="footer-col">
    <h4 class="footer-subheading">sell</h4>
    <a href="/">sell with us</a>
    <a href="/">how to sell</a>
    <a href="/">why sell?</a>
  </div>
</div>