{{ 'section-main-how-we-do-it.scss.css' | asset_url | stylesheet_tag }}

<div class="how-we-do-it section-main">
  <div class="wrapper">
    <h2>How We Do It</h2>
    <div class="box">
      <div class="left">
        <div class="box">
          <div class="wrapper">
            <img src="{{ "auth-stamp.svg" | asset_url }}" alt="">
          </div>
        </div>
      </div>
      <div class="right">
        <h3>Digital Passports</h3>
        <p>Galore uses Digital Passports powered by NFC technology to promote transparency in the luxury fashion resale industry. Your unique digital passport ensures your handbag’s authenticity while also giving you access to exclusive information about your handbag’s previous lives.</p>
      </div>
    </div>
  </div>
</div>