{{ 'section-main-rotating-banner.scss.css' | asset_url | stylesheet_tag }}

<div class="rotating-banner section-main">
  <div class="banner-container">
    <div class="banner-list">
      <div class="list-item" style="color: black">JOIN <span> THE LOOP</span></div>
      <div class="list-item" style="color: white">spacer</div>
      <div class="list-item" style="color: black">BUY <span> PRE-LOVED<span></span></div>
      <div class="list-item" style="color: black">BUY <span> NEW</span></div>
      <div class="list-item" style="color: black">RENT</div>
      <div class="list-item" style="color: black">RESELL</div>
      <div class="list-item" style="color: black">REPEAT</div>
    </div>
  </div>
  <div class="vid-wrapper">
    <img src="{{ "main-vid.gif" | asset_url }}" alt="">
  </div>
</div>