{{ 'section-main-who-we-are.scss.css' | asset_url | stylesheet_tag }}

<div class="who-we-are section-main">
  <div class="circular-image">
    <div class="circular-image-text">Who We Are</div>
  </div>
  <div class="circular-text">
    <h3 class="circular-subheading">
      MAKE YOUR LUXURY LAST WITH GALORE
    </h3>
    <p>
      We’re a one-stop-shop for all your luxury handbag needs. We offer a marketplace for secondhand luxury bags that are 100% authentic. Transparency is our priority, so each bag comes with a unique digital passport that allows you to explore your bag, verify its authenticity, and contribute to a sustainable future for fashion.
    </p>
  </div>
</div>