{{ 'section-main-banner-how-it-works.scss.css' | asset_url | stylesheet_tag }}

<div class="banner-how-it-works section main">
  <div class="vid-wrapper">
    <img src="{{ "Main_Vid_5.gif" | asset_url }}" alt="">
    <p>how it works</p>
  </div>
  <div class="breadcrumbs">home |
    <span>how it works</span>
  </div>
</div>