{{ 'section-main-who-we-are.scss.css' | asset_url | stylesheet_tag }}

<div class="who-we-are section-main">
  <div class="circular-image">
    <div class="circular-image-text">Who We Are</div>
  </div>
  <div class="circular-text">
    <h3 class="circular-subheading">
      MAKE YOUR LUXURY LAST WITH GALORE
    </h3>
    <p>
      We are a one-stop-shop for all your luxury handbag needs. We offer a circular marketplace for 100% authentic pre-loved handbags. Transparency is our priority, which is why we are developing a unique digital passport for all handbags sold, rented or bought which allows you to explore your bag, verify it authenticity, and contribute to a sustainable future for the luxury sector. 
    </p>
  </div>
</div>