{{ 'section-main-buy-rent-sell.scss.css' | asset_url | stylesheet_tag }}

<div class="buy-rent-sell section-main">
  <h2>Buy
    <span>
      &#9679;
    </span>
    Rent
    <span>
      &#9679;
    </span>
    Sell</h2>
  <div class="section">
    <img src="{{ "brs1.png" | asset_url}}" alt="">
    <div class="box">
      <h3>buy</h3>
      <p>Purchase pre-loved, luxury handbags to create a more circular future. Galore has a wide variety of unique handbags that are vetted and authenticated by experts. Galore offers a sustainable and unique way to add luxury pieces into your wardrobe.</p>
      <a href="/" class="galore-button-sm">buy</a>
    </div>
  </div>
  <div class="section">
    <div class="box">
      <h3>rent</h3>
      <p>Renting allows you to try out different styles and brands without having to make a long-term commitment. It also reduces the need for you to continuously purchase new handbags, which can have a positive impact on the environment. Click below to learn more about our rental process.</p>
      <a href="/pages/rent" class="galore-button-sm">rent</a>
    </div>
    <img src="{{ "brs2.png" | asset_url}}" alt="">
  </div>
  <div class="section">
    <img src="{{ "brs3.png" | asset_url}}" alt="">
    <div class="box">
      <h3>sell</h3>
      <p>If you want to sell your handbag to us, we’ll handle all aspects of the process including authentication, pricing, and payment. Selling to us ensures that your items are in the right hands, as we only sell authentic and high-quality products. By choosing to sell to Galore, you can turn your unused luxury handbags into cash and make room for new items in your collection. Click below to learn more about selling with us.</p>
      <a href="/pages/sell-with-us" class="galore-button-sm">sell</a>
    </div>
  </div>
</div>