<div class="main-landing">
  <div class="main-landing-top">
    <p class="join-the-loop">Join the Loop</p>
    <div class="loop-subheading">
      <p>
        Our mission is to put an end to fast fashion, one secondhand-bag at a time.
      </p>
      <p>
        Join the Loop to join the circular fashion movement.
      </p>
    </div>
    <div class="join-the-loop-content">
      <div class="how-it-works-left">
        <p>HOW IT WORKS</p>
        <p>
          Sign up to Join the Loop and become a member of the
          Galore Club, where luxury meets sustainability.
                                                                                      We’ll teach you all about circular fashion and how
          <span style="font-style:italic">you</span>
          can help put an end to fast fashion without breaking
          the bank or sacrificing your sense of style.
        </p>
        <div class="wrapper">
          <img src="{{ "rectangle33i152-oto-400h.png" | asset_url }}" alt="">
        </div>
      </div>
      <div class="how-it-works-right">
        <div class="vertical-loop">
          <p>JOIN THE LOOP</p>
          <div class="ellipse">
            <span>1</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-landing-mid"></div>
  <div class="main-landing-bottom"></div>
</div>