{{ 'section-main-authentication.scss.css' | asset_url | stylesheet_tag }}

<div class="authentication section-main">
  <div class="section">
    <div class="box">
      <h3>Our Authentication Process</h3>
      <p>Galore partners with Zeko's Authentication, a leader in designer handbag authentication, to ensure the authenticity of every piece. With a commitment to professionalism, expertise, integrity, and customer satisfaction, Zeko's Authentication is a trusted and reliable partner. Their customized authentication service is tailored to meet the unique needs of each client, and their dedication to quality customer service sets them apart. Choose Galore with confidence, knowing that each handbag is authenticated by the industry's premier experts.</p>
      <a href="/about-us" class="galore-button">learn more about our team</a>
    </div>
    <img src="{{ "auth1.png" | asset_url}}" alt="">
  </div>
  <div class="section">
    <img
      class="animated-stamp"
      src="{{ "auth2.png" | asset_url }}"
      alt="">
    <div class="box">
      <h3>What You Will See</h3>
      <p>As a member of the Galore Club, you'll have unparalleled access to the detailed authentication information specific to your handbag. Our rigorous authentication process involves a thorough inspection with advanced technology, followed by manual testing by a team of expert authenticators. This information is conveniently accessible to you through Galore's exclusive digital passport, available 24/7. At Galore, we believe in transparency and want to give you complete peace of mind about your handbag's authenticity. Join us and experience the assurance of a properly authenticated luxury handbag.</p>
      <a href="/pages/digital-passport" class="galore-button">our digital passport</a>
    </div>
  </div>
</div>