.vid-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden; 
  position: relative;   
  img {
    width: 100vw;
    overflow: hidden;
  }
  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}

.breadcrumbs {
  padding: 2em;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
  span {
    font-weight: 700;
  }
}

@media screen and (max-width: 820px) {
  .galore-banner {
    .vid-wrapper {
      p {
        font-size: 24px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .galore-banner {
    .vid-wrapper {
      p {
        font-size: 14px;
      }
    }
  }
}
