// JOIN THE LOOP

.join-the-loop {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  justify-content: center;
  margin: auto;
  width: 80vw;
}

.loop-heading {
  font-family: 'FONTSPRING DEMO - The Seasons';
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 0;
}

.loop-subheading {
  display: flex;
  flex-direction: column;
  row-gap: 0;
  height: auto;
  align-self: auto;
  text-align: center;
  line-height: normal;
  margin-bottom: 2em;
  p {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.loop-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  column-gap: 10rem;
}

.loop-body-left {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;

  h3 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: right;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 0;
  }
}

.loop-section {
  width: 340px;
  margin-top: 0;
  margin-bottom: 0;
  p {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: right;
    color: #000000;
  }
  .img-wrapper {
    max-width: 100%;
    img {
      width: 340px;
    }
  }  
}

.loop-body-right {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 85vh;
  .button-list {
    border-left: 3px solid #8D9196;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    #button-1 {
      background-image: url(1-default.png);
      height: 80px;
    }
    #button-2 {
      background-image: url(2-default.png);
      height: 80px;
    }
    #button-3 {
      background-image: url(3-default.png);
      height: 80px;
    }
    #button-1:hover {
      background-image: url(1-active.png);
      .loop-button-text {
        font-weight: 700;
        color: #000000;
      }
    }
    #button-2:hover {
      background-image: url(2-active.png);
      .loop-button-text {
        font-weight: 700;
        color: #000000;
      }
    }
    #button-3:hover {
      background-image: url(3-active.png);
      .loop-button-text {
        font-weight: 700;
        color: #000000;
      }
    }
  }
}

.loop-button {
  outline: none;
  cursor: pointer;
  background: transparent;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  position: relative;
  transform: translateX(-40px);
}

.loop-button-text {
  position: absolute;
  left: 150px;
  top: 0;
  bottom: 0;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #6E7175;
  transition: all 0.5s;
}

.loop-button-text.selected {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 46px;
  height: 100%;
  max-height: 100%;
  position: absolute;
  top:0;
  bottom: 0;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
  opacity: 1;
  -webkit-animation-name: grow;
  -webkit-animation: grow 0.5s ease-in-out;
  animation-name: grow;
  animation: grow 0.5s ease-in-out;
}

#button-1.loop-button.selected {
  background-image: url(1-active.png);
}

#button-2.loop-button.selected {
  background-image: url(2-active.png);
}

#button-3.loop-button.selected {
  background-image: url(3-active.png);
}

.scroll-box.hidden {
  opacity: 0;
}

.scroll-box {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  height: 24px;
  text-transform: uppercase;
  color: #000000;
  overflow: hidden;
  margin: auto;
  opacity: 1;
  ul {
    margin: 0 0.625rem;
    padding-left: 4px;
    animation: scrollUp 6s infinite;
    li {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 24px;
      list-style: none; 
      width: 100%;
    }
  }
}

.inactive {
  height: 0;
  opacity: 0;
  -webkit-animation-name: fadeOut;
  -webkit-animation: fadeOut 1s ease-in-out;
  animation-name: fadeOut;
  animation: fadeOut 1s ease-in-out;
}

.active {
  height: auto;
  opacity: 1;
  -webkit-animation-name: fadeIn;
  -webkit-animation: fadeIn 1s ease-in-out;
  animation-name: fadeIn;
  animation: fadeIn 1s ease-in-out;
}

@keyframes grow {
  0% { font-size: 20px; }
  100% { font-size: 24px; }
}


@keyframes fadeIn {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}


@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}
  
@keyframes fadeIn {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeOut {
  0% { opacity: 1; }
  20% { opacity: 1; }
  40% { opacity: 0.9; }
  60% { opacity: 0.5; }
  80% { opacity: 0.3; }
  100% { opacity: 0; }
}
  
@keyframes fadeOut {
  0% { opacity: 1; }
  20% { opacity: 1; }
  40% { opacity: 0.9; }
  60% { opacity: 0.5; }
  80% { opacity: 0.3; }
  100% { opacity: 0; }
}

$item-count: 5;

@keyframes scrollUp {
  @for $i from 1 through ($item-count - 1) {
    #{($i * 25) - 10%}, #{$i * 25%} {
      transform: translateY((-100% / $item-count) * $i);
    }
  }
}

@media screen and (max-width: 480px) {
  .loop-heading {
    font-size: 33px;
  }
  .loop-subheading {
    margin: 0;
    p {
      font-size: 24px;
      line-height: 24px;
      margin: 0;
    }
  }

  .loop-body {
    flex-direction: column-reverse;
    align-items: center;
    margin: auto;
    .loop-body-left {
      margin: 0;
      h3 {
        font-size: 20px;
      }
      p {
        font-size: 14px;
      }
    }
    .loop-body-right {
      width: 100%;
      height: 25vh;
      .button-list {
        border-left: 3px solid #8D9196;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        #button-1 {
          background-image: url(1-default.png);
          height: 40px;
        }
        #button-2 {
          background-image: url(2-default.png);
          height: 40px;
        }
        #button-3 {
          background-image: url(3-default.png);
          height: 40px;
        }
        #button-1:hover {
          background-image: url(1-active.png);
          height: 40px;
          .loop-button-text {
            font-weight: 700;
            color: #000000;
          }
        }
        #button-2:hover {
          background-image: url(2-active.png);
          height: 40px;
          .loop-button-text {
            font-weight: 700;
            color: #000000;
          }
        }
        #button-3:hover {
          background-image: url(3-active.png);
          height: 40px;
          .loop-button-text {
            font-weight: 700;
            color: #000000;
          }
        }
      }
    }
  }

  .loop-button {
    outline: none;
    cursor: pointer;
    background: transparent;
    border: none;
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    position: relative;
    transform: translateX(-20px);
  }
  
  .loop-button-text {
    position: absolute;
    left: 60px;
    top: 0;
    bottom: 0;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 23px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #6E7175;
  }
  
  .loop-button-text.selected {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 46px;
    height: 100%;
    max-height: 100%;
    position: absolute;
    top:0;
    bottom: 0;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #000000;
  }

  .loop-section {
    width: 240px;
    margin-top: 0;
    margin-bottom: 0;
    p {
      font-family: 'Helvetica';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 21px;
      text-align: right;
      color: #000000;
    }
    .img-wrapper {
      max-width: 100%;
      img {
        width: 240px;
      }
    }  
  }

  .scroll-box {
    font-size: 20px;
    line-height: 20px;
    height: 20px;
    ul {
      margin: 0 0.625rem;
      padding-left: 4px;
      animation: scrollUp 6s infinite;
      li {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 20px;
        list-style: none; 
        width: 100%;
      }
    }
  }

  @keyframes grow {
    0% { font-size: 14px; }
    100% { font-size: 18px; }
  }
}