// WHO WE ARE 

.who-we-are {
  display: flex;
  flex-direction: row;
  column-gap: 6em;
  justify-content: center;
  margin: auto;
  width: 100%;
  max-height: 100vh;
}

.circular-image {
  background-image: url(circular-fashion.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 35vw;
  position: relative;
  animation: rotation 15s infinite linear;
}

.circular-image-text {
  font-family: 'FONTSPRING DEMO - The Seasons';
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  color: #000000;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: antirotation 15s infinite linear;
}

.circular-text {
  width: 35vw;
  .circular-subheading {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    text-transform: uppercase;
    color: #000000;
    width: 90%;
  }
  p {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    color: #000000;
    width: 90%;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes antirotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 1080px) {
  .circular-image-text {
    font-size: 24px;
  }

  .circular-text {
    .circular-subheading {
      font-size: 18px;
    }
    p {
      font-size: 18px;
      line-height: 20px;
    }
  }
}

@media screen and (max-width: 480px) {
  .who-we-are {
    column-gap: 1.25em;
  }

  .circular-image {
    width: 45vw;
  }

  .circular-text {
    width: 45vw;
  }
  .circular-image-text {
    font-size: 24px;
  }

  .circular-text {
    .circular-subheading {
      font-size: 18px;
      width: 100%;
    }
    p {
      font-size: 14px;
      line-height: 14px;
    }
  }
}

  
  

