// Sustainability

.sustainability {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  justify-content: center;
  margin: auto;
  width: 80vw;
}

.heading1 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  margin-top: 0;
  margin-bottom: -15px;;
}

.heading2 {
  font-family: 'FONTSPRING DEMO - The Seasons';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 54px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 0;
  margin-bottom: 0;
}

.subheading {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  width: 55vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.sus-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  column-gap: 10rem;
}

.sus-body-left {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;

  h4 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: right;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 0;
  }
}

.sus-section {
  width: 350px;
  margin-top: 0;
  margin-bottom: 0;
  p {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: right;
    color: #000000;
  }
  .img-wrapper {
    max-width: 100%;
    img {
      width: 350px;
    }
  }  
}

.sus-body-right {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  .sus-button-list {
    border-left: 3px solid #8D9196;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    #button-1 {
      background-image: url(1-default.png);
      height: 80px;
    }
    #button-2 {
      background-image: url(2-default.png);
      height: 80px;
    }
    #button-3 {
      background-image: url(3-default.png);
      height: 80px;
    }
    #button-1:hover {
      background-image: url(1-active.png);
      .sus-button-text {
        font-weight: 700;
        color: #000000;
      }
    }
    #button-2:hover {
      background-image: url(2-active.png);
      .sus-button-text {
        font-weight: 700;
        color: #000000;
      }
    }
    #button-3:hover {
      background-image: url(3-active.png);
      .sus-button-text {
        font-weight: 700;
        color: #000000;
      }
    }
  }
}

.sus-button {
  outline: none;
  cursor: pointer;
  background: transparent;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  position: relative;
  transform: translateX(-40px);
}

.sus-button-text {
  position: absolute;
  left: 150px;
  top: 0;
  bottom: 0;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #6E7175;
  transition: all 0.5s;
}

.sus-button-text.selected {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 46px;
  height: 100%;
  max-height: 100%;
  position: absolute;
  top:0;
  bottom: 0;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
  opacity: 1;
  -webkit-animation-name: grow;
  -webkit-animation: grow 0.5s ease-in-out;
  animation-name: grow;
  animation: grow 0.5s ease-in-out;
}

#button-1.sus-button.selected {
  background-image: url(1-active.png);
}

#button-2.sus-button.selected {
  background-image: url(2-active.png);
}

#button-3.sus-button.selected {
  background-image: url(3-active.png);
}

.inactive {
  height: 0;
  opacity: 0;
  -webkit-animation-name: fadeOut;
  -webkit-animation: fadeOut 1s ease-in-out;
  animation-name: fadeOut;
  animation: fadeOut 1s ease-in-out;
}

.active {
  height: auto;
  opacity: 1;
  -webkit-animation-name: fadeIn;
  -webkit-animation: fadeIn 1s ease-in-out;
  animation-name: fadeIn;
  animation: fadeIn 1s ease-in-out;
}

.subtitle {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  display: flex;
  width: 80%;
  align-items: center;
  text-align: center;
  margin: auto;
}

@keyframes grow {
  0% { font-size: 20px; }
  100% { font-size: 30px; }
}


@keyframes fadeIn {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}


@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}
  
@keyframes fadeIn {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeOut {
  0% { opacity: 1; }
  20% { opacity: 1; }
  40% { opacity: 0.9; }
  60% { opacity: 0.5; }
  80% { opacity: 0.3; }
  100% { opacity: 0; }
}
  
@keyframes fadeOut {
  0% { opacity: 1; }
  20% { opacity: 1; }
  40% { opacity: 0.9; }
  60% { opacity: 0.5; }
  80% { opacity: 0.3; }
  100% { opacity: 0; }
}

@media screen and (max-width: 480px) {
  .sustainability {
    row-gap: 2rem;
  }
  .heading1 {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: -10px;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }
  .heading2 {
    font-size: 24px;
    line-height: 27px;
  }
  .subheading {
    font-size: 14px;
    line-height: 17px;
    width: 75vw;
  }

  .sus-body {
    flex-direction: column-reverse;
    align-items: center;
    margin: auto;
    .sus-body-left {
      margin: 0;
      height: 65vh;
      h4 {
        font-size: 16px;
      }
      p {
        font-size: 14px;
      }
    }
    .sus-body-right {
      width: 100%;
      height: 25vh;
      .sus-button-list {
        border-left: 3px solid #8D9196;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        #button-1 {
          background-image: url(1-default.png);
          height: 40px;
        }
        #button-2 {
          background-image: url(2-default.png);
          height: 40px;
        }
        #button-3 {
          background-image: url(3-default.png);
          height: 40px;
        }
        #button-1:hover {
          background-image: url(1-active.png);
          height: 40px;
          .sus-button-text {
            font-weight: 700;
            color: #000000;
          }
        }
        #button-2:hover {
          background-image: url(2-active.png);
          height: 40px;
          .sus-button-text {
            font-weight: 700;
            color: #000000;
          }
        }
        #button-3:hover {
          background-image: url(3-active.png);
          height: 40px;
          .sus-button-text {
            font-weight: 700;
            color: #000000;
          }
        }
      }
    }
  }

  .sus-button {
    outline: none;
    cursor: pointer;
    background: transparent;
    border: none;
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    position: relative;
    transform: translateX(-20px);
  }
  
  .sus-button-text {
    position: absolute;
    left: 40px;
    top: 0;
    bottom: 0;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #6E7175;
  }
  
  .sus-button-text.selected {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    height: 100%;
    width: 100%;
    max-height: 100%;
    position: absolute;
    top:0;
    bottom: 0;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #000000;
  }

  .sus-section {
    width: 240px;
    margin-top: 0;
    margin-bottom: 0;
    p {
      font-family: 'Helvetica';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 21px;
      text-align: right;
      color: #000000;
    }
    .img-wrapper {
      max-width: 100%;
      img {
        width: 240px;
      }
    }  
  }

  .subtitle {
    font-size: 14px;
    line-height: 17px;
  }

  @keyframes grow {
    0% { font-size: 14px; }
    100% { font-size: 18px; }
  }
}