.how-it-works {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  width: 80%;
  margin: auto;
  .section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .box {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: left;
      row-gap: 0;
      h3 {
        font-family: 'FONTSPRING DEMO - The Seasons';
        font-style: normal;
        font-weight: 400;
        font-size: 33px;
        line-height: 36px;
      }
      p {
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
      }
    }
    img {
      width: 40%;
      object-fit: contain;
    }
  }
}

.wrapper {
  width: 40%;
  background: #1C1C1E;;
  position: relative;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 480px) {
  .how-it-works {
    width: 90%;
    .section {
      .box {
        width: 50%;
        h3 {
          font-size: 24px;
          margin-bottom: 0;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }

  .galore-button-md {
    padding: 5px 30px;
    gap: 5px;
    width: 140px;
    height: 30px;
    font-size: 12px;
  }
}