@font-face {
  font-family: "FONTSPRING DEMO - The Seasons";
  src: url(Fontspring-DEMO-theseasons-reg.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url(Helvetica.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url(Helvetica-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Tenor Sans";
  src: url(TenorSans-Regular.ttf) format('truetupe');
  font-weight: normal;
  font-style: normal;
}

.section-main {
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
  gap: 2.5rem;
  width: 100%;
  height: 100%;
}

.galore-button {
  padding: 10px 60px;
  gap: 10px;
  width: 276px;
  height: 57px;
  font-size: 20px;
  text-transform: uppercase;
  background: #000000;
  color: white;
  margin: auto;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  border: none;
  outline: none;
}

.galore-button-md {
  padding: 10px 20px;
  gap: 10px;
  width: 240px;
  height: 40px;
  font-size: 18px;
  text-transform: uppercase;
  background: #000000;
  color: white;
  margin: auto;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  border: none;
  outline: none;
}

.galore-button-md-inv {
  padding: 10px 20px;
  gap: 10px;
  width: 240px;
  height: 40px;
  font-size: 18px;
  text-transform: uppercase;
  background: #FFFFFF;
  color: #000000;
  margin: auto;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  border: none;
  outline: none;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
}

.galore-button-sm {
  padding: 10px 60px;
  gap: 10px;
  width: 180px;
  height: 40px;
  font-size: 18px;
  text-transform: uppercase;
  background: #000000;
  color: white;
  margin: auto;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  border: none;
  outline: none;
}

.galore-button:hover, .galore-button-md:hover, .galore-button-sm:hover {
  background: #4A4A4A;
}

.utility-link {
  text-decoration: none;
  text-transform: uppercase;
}

.galore-button-md-inv:hover {
  background: #EBEBEB;
}

// Buy Button dropdown
.buy-dropdown-btn {
  background: none;
  border: none;
  text-decoration: none;
  color: rgba(18, 18, 18, 0.75);
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
}

.buy-dropdown.active > .buy-dropdown-btn,
.buy-dropdown-btn:hover {
  color: black;
}

.buy-dropdown {
  position: relative;
}

.buy-dropdown-menu {
  z-index: 99;
  position: absolute;
  left: 0;
  top: calc(100% + .25rem);
  padding: 1.5rem;
  overflow-x: scroll;
  background-color: white;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.buy-dropdown.active > .buy-dropdown-btn + .buy-dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.information-grid {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-shrink: 0;
  gap: 1.25rem;
  z-index: 100;
  width: 85vw;
  height: auto;
  .buy-dropdown-menu-section {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
}

.buy-dropdown-heading {
  font-family: 'Helvetica';
  font-weight: bold;
  text-transform: uppercase;
}

.buy-dropdown-links {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill, max-content);
  grid-template-rows: repeat(10, auto);
  grid-gap: 1.25rem;
  margin-top: 1rem;
  max-height: 70vh;
  a {
    text-decoration: none;
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
  }
}

.buy-dropdown-links.new-in {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
    color: inherit !important;
    .link-img {
      img {
        object-fit: contain;
        max-width: 100px;
      }
    }
    .link-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: inherit !important;
      text-decoration: none !important;
      font-size: 15px;
      max-width: 150px;
      p {
        text-align: center;
      }
    }
  }
}

.coming-soon {
  .heading1 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    margin-top: 0;
  }
}

@media screen and (max-width: 480px) {
  .section-main {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    gap: 6px;
    width: 100%;
    height: 100%;
  }

  .buy-dropdown-menu.information-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 auto;
    width: 100%;
    overflow-y: scroll;
    gap: 0.75rem;
    padding: 1.5rem;
    .buy-dropdown-menu-section {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      flex: 1 1 auto;
      width: 30vw;
      height: 45vh;
      .buy-dropdown-heading {
        font-size: 15px;
      }
    }
  }

  .buy-dropdown-links {
    display: flex;
    overflow-y: scroll;
    justify-content: flex-start;
    flex-direction: column;
    a {
      font-size: 14px;
    }
  }

  .buy-dropdown-links.new-in {
    flex-direction: row;
    flex-wrap: wrap;
    height: 60vh;
    a {
      text-decoration: none;
    }
    .link-img {
      img {
        object-fit: contain;
        max-width: 30vw !important;
      }
    }
    .link-text {
      font-size: 13px;
    }
  }
}

// Font styles
.D101 {
  font-family: 'FONTSPRING DEMO - The Seasons';
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
  line-height: 74px;
  color: #000000;
}

.D102 {
  font-family: 'FONTSPRING DEMO - The Seasons';
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 78px;
  color: #000000;
}

.D201 {
  font-family: 'FONTSPRING DEMO - The Seasons';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 57px;
  color: #000000;
}

.D202 {
  font-family: 'FONTSPRING DEMO - The Seasons';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: #000000;
}

.H101 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  text-transform: uppercase;
  color: #000000;
}

.H102 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 55px;
  text-transform: uppercase;
  color: #000000;
}

.H103 {
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
}

.H201 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  text-transform: uppercase;
  color: #000000;
}

.H202 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  text-transform: uppercase;
  color: #000000;
}

.H203 {
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  color: #000000;
}

.H301 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
}

.H302 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
}

.H303 {
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 39px;
  color: #000000;
}

.H401 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.H402 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.H403 {
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.S101 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #000000;
}

.S102 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  color: #000000;
}

.S103 {
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  color: #000000;
}

.S201 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  color: #000000;
}

.S202 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  color: #000000;
}

.S203 {
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 39px;
  color: #000000;
}

.S301 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;  
  color: #000000;
}

.S302 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.S303 {
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.S401 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.S402 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.S403 {
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.B101 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #000000; 
}

.P101 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.P102 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.P201 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.P202 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.P301 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.P302 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.P401 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.P402 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.P501 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.P502 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.BREADCRUMBS01 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.BREADCRUMBS02 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.BREADCRUMBS03 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #000000;
  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}

.BREADCRUMBS04 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #000000;
  /* Inside auto layout */
  flex: none;
  order: 3;
  flex-grow: 0;
}

.CAPTIONS01 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.L01 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.L02 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #000000;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.F01 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.F02 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.F03 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #000000;
  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}

.F04 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #000000;
  /* Inside auto layout */
  flex: none;
  order: 3;
  flex-grow: 0;
}